/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.2rem;
  border-bottom: 3px solid #2f2b2b;
}

.login--form {
  gap: 3rem;
}

.login--form label {
  color: #fff;
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}

/* --- Section Balance */
.section--balance {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2a2a2a;
  padding: 3.2rem;
  border-radius: 100px;
  box-shadow: 0 1.2rem 2.4rem #2a2a2a;
}

.user--greeting,
.current--balance {
  font-size: 2rem;
  line-height: 1.2;
}

.user--name,
.balance {
  font-style: italic;
}

/* --- Section Action */
.section--action {
  position: relative;
  padding-bottom: 4rem;
}

/* Section Cashout */
.section--cashout {
  background-color: #ff922b;
  padding: 3.2rem;
  box-shadow: 0 1.2rem 2.4rem rgba(255, 146, 43, 0.5);
  border-radius: 100px;
}

.cashout--btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border-radius: 11px;
  background-color: #d9480f;
  color: #fff;
  box-shadow: 0 1.2rem 2.4rem rgba(217, 72, 15, 0.3);
}

.cashout--btn:hover {
  background-color: #fff;
  color: #d9480f;
  box-shadow: 0 2.4rem 4.8rem rgba(217, 72, 15, 0.3);
}

.cashout--btn:active {
  box-shadow: 0 0.6rem 1.2rem rgba(217, 72, 15, 0.3);
}

/* Section Send Money */
.section--sendmoney {
  background-color: #51cf66;
  padding: 3.2rem;
  box-shadow: 0 1.2rem 2.4rem rgba(81, 207, 102, 0.5);
  border-radius: 100px;
}

.sendmoney--btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border-radius: 11px;
  background-color: #2f9e44;
  color: #fff;
  box-shadow: 0 1.2rem 2.4rem rgba(47, 158, 67, 0.3);
}

.sendmoney--btn:hover {
  background-color: #fff;
  color: #2f9e44;
  box-shadow: 0 2.4rem 4.8rem rgba(47, 158, 67, 0.3);
}

.sendmoney--btn:active {
  box-shadow: 0 0.6rem 1.2rem rgba(47, 158, 67, 0.3);
}

/* Action Message */
.action--msg {
  position: absolute;
  right: -15%;
  bottom: -15%;
  background-color: #adff2f;
  border-radius: 9px;
  box-shadow: 0 1.2rem 2.4rem #adff2f;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  color: #111;
}

.action--money {
  font-weight: 700;
}

/* Section Transactions */
.section--transactions {
  margin-top: 20rem;
  background-color: #000;
  height: 50rem;
  overflow-y: scroll;
  color: #222;
  padding: 3.2rem;
  border-radius: 11px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.03);
}

.section--transactions::-webkit-scrollbar {
  background-color: #2a2a2a;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffa500;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.transaction--type {
  font-size: 1.8rem;
}

.transaction--date {
  font-size: 1.4rem;
  color: #1a1a1a;
}

.transaction--amount {
  font-size: 2rem;
  font-weight: 700;
}

.transaction--sm {
  background-color: #4dce4d;
  padding: 1.2rem;
}

.transaction--co {
  background-color: #f24646;
  padding: 1.2rem;
}

/* Logged Out Timmer */
.logout--timer {
  margin-top: 2.4rem;
  text-align: right;
  font-size: 1.6rem;
}

.timer {
  font-weight: 700;
}
