/* 1040px */
@media (max-width: 65em) {
  main {
    max-width: 70rem;
    padding: 2.4rem;
  }
}

/* 736px */
@media (max-width: 46em) {
  main {
    max-width: 50rem;
    padding: 2rem;
  }

  .section--cashout form,
  .section--cashin form,
  .section--sendmoney form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .header .login--form {
    display: none;
  }

  .header .mobile--menu {
    display: block;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }

  .primary--btn {
    align-self: center;
  }

  .section--balance {
    flex-direction: column;
    gap: 2rem;
  }
}

/* 544px */
@media (max-width: 44em) {
  html {
    font-size: 56.25%;
  }

  main {
    max-width: 34rem;
    padding: 1.2rem;
  }

  .action--msg {
    right: -10%;
    bottom: -5%;
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
  }

  .section--transactions {
    padding: 1.6rem;
  }

  .transaction {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
  }

  .transaction--type {
    font-size: 1.4rem;
  }

  .transaction--date {
    font-size: 1.2rem;
  }

  .transaction--amount {
    font-size: 1.8rem;
  }

  .transaction--sm,
  .transaction--co {
    padding: 0.6rem;
  }

  .logout--timer {
    font-size: 1.4rem;
  }
}
